Repository wtfnotavailable/Discord-MusicBot, pull requests merged in 2023-12, with the labels that each got.

#180 Add shuffle buttong to contorl channel embed
  .gitignore
  djs-bot/interactions/shuffle.js
  djs-bot/util/controlChannel.js
  djs-bot/util/embeds.js
  djs-bot/util/interactions.js
  docker/docker-compose.yml
  docker/lavalink/standalone.sh
Labels: djs-bot, context

#182 Update guildleave.js
  djs-bot/commands/misc/guildleave.js
Labels: djs-bot

#181 Keyboard Shortcuts
  dashboard/kbdsrct.md
  dashboard/src/assets/icons/modal-close.svg
  dashboard/src/components/Modal.tsx
  dashboard/src/components/ModalShortcut.tsx
  dashboard/src/components/shortcuts/Key.tsx
  dashboard/src/components/shortcuts/ShortcutEntry.tsx
  dashboard/src/interfaces/components/Modal.ts
  dashboard/src/interfaces/components/Shortcuts.ts
  dashboard/src/interfaces/kbdsrct.ts
  dashboard/src/layouts/AppLayout.tsx
  dashboard/src/libs/kbdsrct.ts
  dashboard/src/pages/index.tsx
  dashboard/src/pages/servers/[id]/player.tsx
Labels: dashboard
