Repository wtfnotavailable/Discord-MusicBot, pull requests merged in 2023-10, with the labels that each got.

#122 fix: ignore non existent component interaction handler
  djs-bot/lib/SlashCommand.js
Labels: djs-bot

#147 Fix issue in queue.js and embeds.js for the embed message.
  djs-bot/commands/music/queue.js
  djs-bot/util/embeds.js
Labels: djs-bot

#157 Fix missing argument in /play and /playlists play
  djs-bot/commands/music/play.js
  djs-bot/commands/music/playlists/play.js
  djs-bot/package.json
Labels: bug, djs-bot

#158 add sharp for image optimization
  dashboard/package.json
Labels: dashboard

#159 fix playlist autocomplete
  djs-bot/.vimspector.json
  djs-bot/commands/music/play.js
  djs-bot/commands/music/playlists/add.js
  djs-bot/commands/music/playlists/remove.js
  djs-bot/lib/SlashCommand.js
  djs-bot/package.json
  djs-bot/util/commands.js
Labels: djs-bot
