Repository wtfnotavailable/Discord-MusicBot, pull requests merged in 2023-09, with the labels that each got.

#83 feat/songcard
  djs-bot/assets/no_bg.png
  djs-bot/commands/music/nowplaying.js
  djs-bot/package.json
Labels: enhancement, djs-bot

#84 Add connect timeout log to educate idiots thinking the bot's broken
  djs-bot/lib/Bot.d.ts
  djs-bot/lib/Bot.js
  djs-bot/loaders/events/ready.js
Labels: djs-bot

#88 feat: implements https://github.com/wtfnotavailable/Discord-MusicBot/…
  dashboard/package.json
  djs-bot/commands/music/playlists.js
  djs-bot/package.json
Labels: enhancement, dashboard, djs-bot

#91 feat/songcard-progressbar
  djs-bot/commands/music/nowplaying.js
  djs-bot/package.json
Labels: enhancement, djs-bot
