Repository wtfnotavailable/Discord-MusicBot, pull requests merged in 2024-01, with the labels that each got.

#190 Bugfix/failing build
  dashboard/src/interfaces/kbdsrct.ts
  dashboard/src/layouts/AppLayout.tsx
  djs-bot/package.json
Labels: dashboard, djs-bot

#193 Adding support for mediakeys
  dashboard/src/pages/servers/[id]/player.tsx
Labels: dashboard

#196 [5.4.2] fix(skip): error in command and autoremove logs
  djs-bot/commands/music/skip.js
  djs-bot/package-lock.json
  djs-bot/package.json
Labels: djs-bot

#197 [5.4.3] More commands now remove their reply
  djs-bot/commands/music/247.js
  djs-bot/commands/music/autoleave.js
  djs-bot/commands/music/autopause.js
  djs-bot/commands/music/autoqueue.js
  djs-bot/commands/music/stop.js
  djs-bot/package-lock.json
  djs-bot/package.json
Labels: djs-bot

#198 [5.4.3] Made console logs more clean
  djs-bot/index.js
  djs-bot/lib/Bot.js
  djs-bot/lib/Logger.js
  djs-bot/util/dates.js
Labels: djs-bot

#199 [5.5.0] History command
  djs-bot/commands/music/history.js
  djs-bot/commands/music/play.js
  djs-bot/config.js
  djs-bot/lib/MusicEvents.js
  djs-bot/lib/clients/Cosmicord.js
  djs-bot/lib/clients/Erela.js
  djs-bot/package-lock.json
  djs-bot/package.json
  djs-bot/util/embeds.js
  djs-bot/util/message.d.ts
  djs-bot/util/message.js
  djs-bot/util/musicManager.js
Labels: djs-bot

#200 docs: Improving installation instructions
  djs-bot/README.md
Labels: documentation, djs-bot
